body{
  background-color: red;
}
.container{
  background-color: white;
  border-radius: 30px;
  width: 85%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
input{
  width: 150px;
  text-align: center;
  height: 37px;
  border-radius: 15px;
  font-size: medium;
  background-color: rgb(255, 255, 255);
  border-color: red;
  color: rgb(0, 0, 0);
}
button{
  width: 150px;
  text-align: center;
  height: 43px;
  border-radius: 15px;
  font-size: medium;
  background-color: rgb(255, 255, 255);
  border-color: red;
  color: rgb(0, 0, 0);
}